header {
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-family: var(--logo-font-family);;
}