.container {
  margin: var(--space-lg) auto;
  padding: var(--space-lg);
  background: var(--color-surface);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-md);
  max-width: 95%;
}

.grid-container {
    /* Add your styles for the parent of .col50 here */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xs);
    margin: var(--space-lg) auto;
}

.grid-item {
    width: 100%;
}

.track-info {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    gap: var(--space-xs);
    align-items: center;
    border: var(--border-default);
    border-radius: var(--border-radius-lg);
    padding: var(--space-sm);
    margin:  var(--space-sm);
    box-shadow: var(--shadow-sm);
    transition: var(--transition-medium);
}

.track-info audio {
    grid-column: 1 / -1; 
    margin-top: var(--space-sm); 
    width: 100%;
}

.track-info img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.track-info:hover {
    background: var(--color-focus);
    color: var(--color-bg);
    box-shadow: var(--shadow-lg);
}

@media only screen and (max-width: 768px) {
    .track-info {
        grid-template-columns: 1fr; /* Change to a single column layout */
    }
    .track-info > div {
        margin-bottom: var(--space-sm); /* Add spacing between items */
    }
    
}